h1 {
  text-align: center;
  color: rgb(218, 255, 173);
  font-size: 3rem;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: rgb(85, 164, 64);
  background: radial-gradient(circle, rgba(85, 164, 64, 1) 0%, rgba(21, 42, 30, 1) 100%);
}

.board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.computer-area {
  display: flex;
  align-items: center;
  position: relative;
  width: 410px;
}

.player-area {
  display: flex;
  align-items: center;
  position: relative;
  width: 410px;
}

.chips {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chip {
  font-size: 1.25rem;
  font-weight: bold;
  position: absolute;
  left: -70px;
  background: white;
  border: 3px solid gray;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(169, 22, 22);
}

.text-area {
  color: white;
  display: flex;
  margin: 2rem 2rem;
}

.message {
  font-size: 1.5rem;
  font-weight: bold;
  height: 1.5rem;
}

.deck {
  width: 150px;
  height: 200px;
  background: url('../public/card-bg.jpeg');
  background-size: cover;
  border: 10px solid white;
  border-radius: 0.5rem;
  background-position: 5px;
  margin: 1rem;
}

.card {
  width: 150px;
  height: 200px;
  background: rgb(240, 240, 240);
  background-size: cover;
  border: 10px solid white;
  border-radius: 0.5rem;
  background-position: 5px;
  margin: 1rem;
  display: flex;
  flex-direction: column;
}

.top {
  text-align: left;
  font-size: 1.5rem;
  padding: 0.5rem;
}

.middle {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: auto 0;
  font-size: 3rem;
}

.bottom {
  text-align: right;
  font-size: 1.5rem;
  padding: 0.5rem;
}

.controls {
  display: flex;
  flex-direction: column;
}

button {
  border: none;
  border-radius: 0.25rem;
  margin: 3rem;
  font-size: 1.5rem;
  padding: 0.5rem 2rem;
  font-weight: bold;
  color: rgb(0, 95, 0);
  cursor: pointer;
}

.deal-btn {
  background-color: rgb(126, 228, 126);
}
